<%- include('./header.ejs') %>

<div class="container-xl">
    <div class="row my-5">

        <table class="table table-bordered table-striped">
            <tbody>
                <tr>
                    <th></th>
                    <td></td>
                    <td>Username:</td>
                    <td><%= view.userName %></td>
                </tr>
                <tr>
                    <th></th>
                    <td></td>
                    <td>Email:</td>
                    <td><%= view.email %></td>
                </tr>
                <tr>
                    <th></th>
                    <td></td>
                    <td>Mobile No:</td>
                    <td><%= view.mobileNo %></td>
                </tr>
                <tr>
                    <th></th>
                    <td></td>
                    <td>Address:</td>
                    <td><%= view.address %></td>
                </tr>
                <tr>
                    <th></th>
                    <td></td>
                    <td>Gender:</td>
                    <td><%= view.gender %></td>
                </tr>
                <tr>
                    <th></th>
                    <td></td>
                    <td>College:</td>
                    <td><%= view.college %></td>
                </tr>
                <tr>
                    <th></th>
                    <td></td>
                    <td>Course:</td>
                    <td><%= view.course %></td>
                </tr>
                <tr>
                    <th></th>
                    <td></td>
                    <td>Branch:</td>
                    <td><%= view.branch %></td>
                </tr>
            </tbody>
           
           
        </table>
    </div>
</div>


<%- include('./footer.ejs') %>